.chapter(data-title='Register a User')
  include chapter1
.chapter(data-title='Send a One-Time Code')
  include chapter2
.chapter(data-title='Verify the Code')
  include chapter3
.chapter(data-title='Resend the Code')
  include chapter4
.chapter(data-title='Confirm Account Creation')
  include chapter5