# Environment variables for account-verification-node

# See your account sid & auth token: https://www.twilio.com/user/account/settings
TWILIO_ACCOUNT_SID=my-account-sid
TWILIO_AUTH_TOKEN=my-auth-token

# See your phone number: https://www.twilio.com/user/account/phone-numbers/incoming
TWILIO_NUMBER=my-twilio-phone-number

# See your Authy production my-authy-key on the dashboard for your Authy app
AUTHY_API_KEY=my-authy-key

# Mongo connection
MONGO_URL=mongodb://localhost/account-verification
