extends layout

block content
  h1 Account Verification with Node.js and Express

  p.
    This demo application will show you how to implement user account
    verification with Twilio-powered <a href="http://www.authy.com">Authy</a>
    in Node.js, using the Express web framework.

  p
    a(href='/users/new') Sign up for an account to see how it works!
