extends layout

block content
  .row
    .col-sm-8
      h1= title
      p.
        To send text or picture messages with the Twilio REST API (using the
        <a href="http://twilio.github.io/twilio-node">twilio module for 
        Node.js</a>), you need to create 
    .col-sm-4.demo
      h4 Demo
      p.
        Let's send a text or picture message to your phone! This uses the
        <code>TWILIO_NUMBER</code> you configured earlier as the sender, and
        your own phone number (<code>MY_NUMBER</code>) as the receiver.
        Look for the code that handles this form submission in <code>
        controllers/message.js</code> as 
        <code>exports.sendMessage</code>.
      form(action='/message/send', method='POST')

        // The text of the message to send
        .form-group
          label(for='message') Enter a message
          input.form-control(type='text', name='message',
            placeholder='Hi there, gorgeous ;)')

        // An optional image URL
        .form-group
          label(for='imageUrl') (Optional) Image URL to send in an MMS
          input.form-control(type='text', name='imageUrl',
            placeholder='http://fake.twilio.com/some_image.png')

        button.btn.btn-primary(type='submit') Send Yourself a Message!
